$("#follow-button_<%= @user.id %>").html("<%= j(render 'relationships/follow-button', user: @user) %>");
$("#following-count_<%= @user.id %>").html('<p>フォロー中</p><%= link_to "#{@user.followings.count}人",followings_user_path(@user.name) %>');
$("#follower-count_<%= @user.id %>").html('<p>フォロワー</p><%= link_to "#{@user.followers.count}人",followers_user_path(@user.name) %>');