
<%= attachment_image_tag @user, :profile_image,size: "100x100",fallback: "no_image.jpg" %>
<%= @user.name %>
<%= @user.introduction %><br>
    フォロー中
    <div id="following-count_<%= @user.id %>">
        <%= link_to "#{@user.followings.count}人",followings_user_path(@user.name) %>
    </div>
    フォロワー
    <div id="follower-count_<%= @user.id %>">
        <%= link_to "#{@user.followers.count}人",followers_user_path(@user.name) %>
    </div>
    
    
<% @user.books.each do |book| %>
<%= link_to book.title,book_path(book) %>
<%= book.description %>
    <% end %>
<% if @user == current_user %>
    <%= link_to "プロフィール編集",edit_user_path %>
<% else %>
    <div id="follow-button_<%= @user.id %>">
        <%= render 'relationships/follow-button',user:@user %>
    </div>
<% end %>