 <h3>新規投稿</h3>
<%= render 'layouts/errors', obj:@book %>
  <%= form_for(@book) do |f| %>
  <div class="field row">
    <%= f.text_field :title,placeholder:"タイトル", class: "col-sm mb-2 form-control"%>
  </div>

  <div class="field row">
    <%= f.text_area :description,placeholder:"本文", class: 'col-sm mb-5 form-control'%>
  </div>

  <div class="actions row">
    <%= f.submit "投稿する",class: 'btn btn-primary col-sm'%>
  </div>
<% end %>